//COLORS
$color-primary: #fc5d9d;
$color-secondary: #f8c596;
$color-primary-dark: ‎#FF6C96;
$color-white: #fff;
$color-primary-dark: #e85f38;
$color-grey: #383838;
$color-black: #000;
$color-grey-dark: #eee;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-grey-light: #f7f7f7;

//GRIDS
$grid-width: 114rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 5rem;
$gutter-vertical-small: 3rem;

//FONT-SIZES
$default-font-size: 1.6rem;

//FOR COLOR PALETTE~ALBUMS
$color-palette1-album1: #d8a89a;
$color-palette2-album1: #d0ad6f;

$color-palette1-album2: #070205;
$color-palette2-album2: #524b85;

$color-palette1-album3: #dd408a;
$color-palette2-album3: #f7c5b6;

//radius
$padding-default: 3px;
