.member-box {
    text-align: center;
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    transition: transform 0.2s ease-in;

    @include respond(tab-port) {
        padding: 2rem;
        font-size: 2rem;
    }

    &:hover {
        transform: scale(1.03) translateY(-1.5rem);
    }
}
