@keyframes moveinLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    90% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveinRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    90% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveAround {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes moveinBtn {
    0% {
        opacity: 0;
        transform: translateY(5rem);
    }
    90% {
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
