*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
html {
    font-size: 62.5%;

    @include respond(big-desktop) {
        font-size: 75%; //12px = 1rem
    }

    @include respond(tab-land) {
        font-size: 56.25%; //9px = 1rem
    }

    @include respond(tab-port) {
        font-size: 50%; //8px = 1rem
    }

    /*     @include respond(phone) {
        font-size: 30%;
    } */
}
body {
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0; //for padding/border
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
